@model Web.Models.ClothingStatus

@{
    ViewData["Title"] = "衣物狀態內容";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>ClothingStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">編輯</a> |
	<a asp-action="Index">回到衣物狀態清單</a>
</div>
