@model Web.Models.DepositViewModel

@{
    ViewData["Title"] = "編輯會員資料";
}

<h1>@ViewData["Title"]</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="EditAmount">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control" disabled="disabled" />
				<span asp-validation-for="Id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" disabled="disabled" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">收款金額</label>
				<input asp-for="DepositAmount" class="form-control" />
				<span asp-validation-for="DepositAmount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">優惠金額</label>
				<input asp-for="BonusAmount" class="form-control" />
				<span asp-validation-for="BonusAmount" class="text-danger"></span>
			</div>
			<p>註: 本次顧客儲值總金額 = 收款金額 + 優惠金額</p>
			<div class="form-group">
				<input type="submit" value="送出" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">回到會員清單</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
