
@{
    ViewData["Title"] = "刪除已取件超過六個月的衣物圖片";
}

<h1>@ViewData["Title"]</h1>

<h3>是否確認要刪除?</h3>
<p class="text-danger">注意: 只有系統管理員可以刪除</p>
<div>
    <form asp-action="DeletePictureOverSixMonth">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-action="Index" asp-controller="Home">回到首頁</a>
    </form>
</div>
