@model Web.Models.CashCheckout

@{
	ViewData["Title"] = "現金結帳";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="CheckOut">
			<input type="hidden" asp-for="Id" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Dt" class="control-label"></label>
				<input asp-for="Dt" class="form-control" readonly="readonly" />
				<span asp-validation-for="Dt" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="MachineAmount" class="control-label"></label>
				<input asp-for="MachineAmount" class="form-control" />
				<span asp-validation-for="MachineAmount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SelfWashAmount" class="control-label"></label>
				<input asp-for="SelfWashAmount" class="form-control" />
				<span asp-validation-for="SelfWashAmount" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="CreateDt" />
			<div class="form-group">
				<label asp-for="UpdateBy" class="control-label"></label>
				<input asp-for="UpdateBy" class="form-control" readonly="readonly" />
				<span asp-validation-for="UpdateBy" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index" asp-controller="Home">回首頁</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
