@{
	ViewData["Title"] = "首頁";
}

<div class="row">
	<div class="col-md-4">
		<h4>衣物相關功能:</h4>
		<ul>
			<li>
				<a asp-area="" asp-controller="ClothingTypes" asp-action="Index">衣物類型清單</a>
			</li>
			<li>
				<a asp-area="" asp-controller="ClothingColors" asp-action="Index">衣物顏色清單</a>
			</li>
			<li>
				<a asp-area="" asp-controller="ClothingStatus" asp-action="Index">衣物狀態清單</a>
			</li>
			<li>
				<a asp-area="" asp-controller="ClothingActions" asp-action="Index">洗衣類型清單</a>
			</li>
			<li><a asp-action="index" asp-controller="ClothingPackageTypes">衣物包裝方式清單</a></li>
			<li><a asp-action="index" asp-controller="ClothingPictures">衣物照片總覽</a></li>
		</ul>
	</div>
	<div class="col-md-4">
		<h4>衣物管理:</h4>
		<ul>
			<li>
				<a asp-controller="ClothingManage" asp-action="Unpaid">未付款衣物清單</a>
			</li>
			<li>
				<a asp-controller="ClothingManage" asp-action="index">未清洗衣物清單</a>
			</li>
			<li>
				<a asp-area="" asp-controller="ClothingManage" asp-action="WashedButUnPick">已清洗未取件衣物清單</a>
			</li>
			<li>
				<a asp-area="" asp-controller="ClothingManage" asp-action="PickedButUnPay">已取件未付款衣物清單</a>
			</li>
			<li>
				<a asp-action="IndexForFactory" asp-controller="Clothings">乾水洗衣物清單</a> <span class="text-danger">New!</span>
			</li>
			<li>
				<a asp-action="IndexForStockIn" asp-controller="Clothings">本日衣物入庫清單</a> <span class="text-danger">New!</span>
			</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h4>結帳功能:</h4>
		<ul>
			<li>
				<a asp-area="" asp-controller="CashCheckout" asp-action="CheckOut">機器現金(僅限當日)</a>
			</li>
		</ul>
	</div>


</div>

<hr />

<div class="row">
	@if (User.IsInRole("Manager"))
	{
		<div class="col-md-4">
			<h4>店鋪報表: (僅店長可看)</h4>
			<ul>
				<li>
					<a asp-area="" asp-controller="StoreReport" asp-action="index">店鋪報表(含當日報表)</a>
				</li>
				<li>
					<a asp-area="" asp-controller="StoreReport" asp-action="MonthReport">月報表(90日)</a>
				</li>
				<li>
					<a asp-area="" asp-controller="StoreReport" asp-action="YearReport">年報表(18個月)</a>
				</li>
				<li>
					<a asp-area="" asp-controller="CashCheckout" asp-action="Index">機器現金報表</a> <span class="text-danger">New!</span>
				</li>
				<li>
					<a asp-area="" asp-controller="Members" asp-action="BalanceReport">會員餘額清單</a> <span class="text-danger">New!</span>
				</li>
			</ul>
		</div>

		<div class="col-md-4">
			<h4>系統紀錄: (僅店長可看)</h4>
			<ul>
				<li>
					<a asp-area="" asp-controller="Logs" asp-action="Today">本日操作紀錄</a>
				</li>
				<li>
					<a asp-area="" asp-controller="Logs" asp-action="Month">本月操作紀錄</a>
				</li>
			</ul>
		</div>

	}

</div>

<hr />


<div class="row">
	@if (User.IsInRole("SystemManager"))
	{
		<div class="col-md-4">
			<h4>權限管理功能:</h4>
			<ul>
				<li>
					<a asp-area="" asp-controller="IdentityUsers" asp-action="index">員工清單</a>
				</li>
				<li>
					<a asp-area="" asp-controller="IdentityRoles" asp-action="index">角色清單</a>
				</li>
				<li>
					<a asp-area="" asp-controller="IdentityUserRoles" asp-action="index">員工角色對應清單</a>
				</li>

			</ul>
		</div>

		<div class="col-md-4">
			<h4>系統維運功能:</h4>
			<ul>
				<li>
					<a asp-area="" asp-controller="SystemManagement" asp-action="DeletePictureOverSixMonthComfirm">清除已取件超過六個月的衣物圖片</a>
				</li>
			</ul>
		</div>

		<div class="col-md-4">
			<h4>系統紀錄:</h4>
			<ul>
				<li>
					<a asp-area="" asp-controller="Logs" asp-action="Offset" asp-route-offset="1">系統紀錄</a>
				</li>
			</ul>
		</div>
	}
</div>
