@model Web.Models.Log

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Log</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Act" class="control-label"></label>
                <input asp-for="Act" class="form-control" />
                <span asp-validation-for="Act" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClothingSeq" class="control-label"></label>
                <input asp-for="ClothingSeq" class="form-control" />
                <span asp-validation-for="ClothingSeq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee" class="control-label"></label>
                <input asp-for="Employee" class="form-control" />
                <span asp-validation-for="Employee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogDt" class="control-label"></label>
                <input asp-for="LogDt" class="form-control" />
                <span asp-validation-for="LogDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
