@model Web.Models.MachineCash

@{
    ViewData["Title"] = "機器現金-編輯";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Edit">
			<input type="hidden" asp-for="Id" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Dt" class="control-label"></label>
				<input asp-for="Dt" class="form-control" />
				<span asp-validation-for="Dt" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Amount" class="control-label"></label>
				<input asp-for="Amount" class="form-control" />
				<span asp-validation-for="Amount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CreateDt" class="control-label"></label>
				<input asp-for="CreateDt" class="form-control" readonly="readonly"/>
				<span asp-validation-for="CreateDt" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="UpdateDt" class="control-label"></label>
				<input asp-for="UpdateDt" class="form-control" readonly="readonly"/>
				<span asp-validation-for="UpdateDt" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="UpdateBy" class="control-label"></label>
				<input asp-for="UpdateBy" class="form-control" readonly="readonly"/>
				<span asp-validation-for="UpdateBy" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
